extends layout

block content

  //- ul#main-nav
  //-   li
  //-     a(href='#') Home
  //-   li
  //-     a(href='#books') Books      

  //- a#menu-bar
  //-   span.glyphicon.glyphicon-list

  div#nav-shelf

  div#nav-area

  div#main-content

  div#banner-image

  h1#banner-name

  