doctype 5
html
  head
    title Backbone App
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='/javascripts/lib/underscore-min.js')
    script(src='/javascripts/lib/jquery.min.js')
    script(src='/javascripts/lib/backbone-min.js')
    script(src='/javascripts/init.js')
    script(src='/javascripts/client.js')